SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=your@gmail.com               (necessary)
SPING_MAIL_PASSWORD=xxxx-xxxx-xxxx-xxxx           (necessary)
ENCRYPTION_AUTH_KEY=key_for_encryption_base64     (necessary)
CONTAINER_PORT=8080
CACHE_HOST=localhost
CACHE_PORT=6379
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres